{% extends "Producto/layout.html" %}

{% block content %}  

<body>
   <p> <a href="https://www.linkedin.com/in/lic-felix-ayala/" target="_blank"> Félix Ayala Linkedin </a> </p>
   <p> <a href="https://www.linkedin.com/in/mariana-botindari-72b901181/" target="_blank"> Mariana Botindari Linkedin </a> </p>
   <p> <a href="https://www.linkedin.com/in/melisa-scherer-01a89975/" target="_blank"> Melisa Scherer Linkedin </a> </p>
   <p> <a href="https://www.linkedin.com/in/" target="_blank"> Maggie Linkedin </a> </p>
</body>
{% endblock %}