{% extends "Producto/layout.html" %}

{% block content %}  

<body>

    <header>
    <br />
    <h1 style="color:#00008B" class="text-center">Lista de productos</h1>

    <form action={% url 'pedido' %} method="GET">
    
        {{ formulario1 }}
        
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    
    </header>

    <section class="text-center">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo de producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% if pedido %}
                    {% for pedido in pedido %}
                    <tr>
                        <td style="color:white">{{pedido.nombre}} </td>
                        <td style="color:white">{{pedido.tipo_de_producto}}</td>
                        <td style="color:white">{{pedido.precio}} </td>
                        <td style="color:white">
                            <style>    a {
                          
                                text-align: center;
                                background: none;
                                font-size: 15px;
                                
                             } </style>  <a href={% url 'eliminar_producto' pedido.id %}>Borrar</a>
                            <a href={% url 'editar_producto' pedido.id %}>Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <p><font color='white'> No hay productos cargados hasta el momento </font></p>
                {% endif %}
            </tbody>
        </table>
    </section>
</body>
{% endblock %}