{% extends "Producto/layout.html" %}

{% block content %}    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Cargar Producto</p>
    <form action={% url 'cargar-producto' %} method="POST">
    {% csrf_token %}
    
    <table>
    {{ form.media }}
    {{ formulario.as_table }}
    
    </table>
    <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</body>
</html>
{% endblock %}